cat <<EOF > .gitignore
# Logi i nagrania
logs/
data/logs/
data/recordings/
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
EOF

# Jupyter checkpoints
**/.ipynb_checkpoints/
apps/camera/untitled*.py
