[Unit]
Description=Rider-Pi Minimal Services (web + bus + dispatcher)
Requires=multi-user.target
After=multi-user.target
Wants=network-online.target rider-boot-splash.service rider-broker.service rider-api.service motion-executor.service sensor-reader.service rider-web-bridge.service

[Install]
WantedBy=multi-user.target
