[Unit]
Description=Rider-Pi Motion Loop
After=network-online.target rider-broker.service
Wants=rider-broker.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/robot
Environment=MOTION_ENABLE=0
Environment=MOTION_SPEED_LIMIT=0.30
Environment=MOTION_RAMP_LX=0.30
Environment=MOTION_RAMP_AZ=0.60
Environment=MOTION_TELEM_HZ=5.0
Environment=MOTION_LOG_LEVEL=INFO
Environment=BUS_SUB_ADDR=tcp://127.0.0.1:5556
Environment=BUS_PUB_ADDR=tcp://127.0.0.1:5555
ExecStart=/usr/bin/python3 -u -m apps.motion.main
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
