[Unit]
Description=Rider-Pi ZMQ broker (XSUB/XPUB)
After=network-online.target
Wants=network-online.target

[Service]
User=pi
EnvironmentFile=/etc/default/rider-pi
WorkingDirectory=/home/pi/robot
ExecStart=/usr/bin/python3 -u /home/pi/robot/services/broker.py
Restart=always
RestartSec=1
# lepsze logowanie w journalctl
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
