[Unit]
Description=Rider-Pi Voice Scenario (S5)
Requires=rider-core.target
After=rider-core.target
Wants=audio-input.target \
    audio-output.target \
    rider-google-bridge.service

[Install]
WantedBy=multi-user.target
