[Unit]
Description=Rider-Pi ZeroMQ Broker (XSUB<->XPUB)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/robot
ExecStartPre=/usr/bin/fuser -k 5555/tcp 5556/tcp
ExecStart=/usr/bin/python3 -u /home/pi/robot/services/broker.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
